<h1>Login!</h1>



<% if @currently_logged_in %>
	The id of the @currently_logged_in is <%= @currently_logged_in %>
	The id of current_user is <%= current_user.id %>
<% else %>
	<h1>@currently_logged_user</h1>
<%end%>



<%= form_tag '/login', :class => 'test' do %>
	Email: <%= text_field_tag :email %>
	Password: <%= password_field_tag :password %>
	<%= submit_tag "Submit" %>
<% end %>



<h1>Need an account? Signup Here!</h1>
<%= form_for :user, url: '/users', :html => {:class => "test"} do |f| %>

	Name: <%= f.text_field :name %>
	Email: <%= f.text_field :email %>
	Hometown: <%= f.text_field :hometown %>
	Password: <%= f.password_field :password %>
	Confirm Password: <%= f.password_field :password_confirmation %> <br>

	<!-- Picture: <%= f.file_field :picture %> -->
	<%= f.submit "Submit" %>
<% end %>



