<!DOCTYPE html>
<html>
<head>
  <title>GifVault</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- Added -->
	<% if current_user %>
		<h3>Signed in as: <%=link_to  current_user.name, user_path(current_user) %> | <%= link_to 'Logout', '/logout' %> | <%=link_to "Show all Users", users_path %></h3>
	<% else %>
		<%= link_to 'Login', '/login' %> | <%= link_to "Signup", new_user_path %>
	<% end %>

<%= yield %>

</body>
</html>
